.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 2em;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar li {
  float: left;
  border-radius: 2em;
  border-color: #e6e6e6;
  border-style: solid;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em;
  border-radius: 2em;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #b3b3b3;
}

.navbar .active {
  color: white;
  background-color: #66b3ff;
  border-color: #66b3ff;
}

ul
{
  padding: 0px;
  list-style-type:none;
  text-align: center;
}

#gameboard
{
  padding-top: 10px;
}

body
{
  font-family: 'Courier New', Fixed, sans-serif;
  font-size: small;
  text-align: center;
}
